export GITHUB_CLIENT_ID=111111111111
export GITHUB_CLIENT_SECRET=2222222222222222222
export GITHUB_CALLBACK_URL=http://localhost:4567/callback
export APPLICATION_SALT=3333333333333333333

export MONGO_CLIENT_URI=mongodb://<dbuser>:<dbpassword>@ds035846.mlab.com:35846/github-org-utility-webapp

export ADMIN_GITHUB_IDS=pconrad