<!-- This must be first line of file:   -*- mode: html;  -*- -->

<footer class="footer">
  <p>
    &copy; 2016 Phill Conrad.  Copy it all you like, but its nice if you give credit.  <br>
    Code at: <a href="https://github.com/pconrad-webapps/github-org-utility-webapp">https://github.com/pconrad-webapps/github-org-utility-webapp</a>.
  </p>
</footer>
