<!-- This must be first line of file:   -*- mode: html;  -*- -->

<footer class="footer">
  <p>
    &copy; 2016 Phill Conrad.  Copy it all you like, but it's nice if you give credit.  <br>
    Code at: <a href="https://github.com/UCSB-CS56-F16/ucsb-cs56-f16.herokuapp.com">
https://github.com/UCSB-CS56-F16/ucsb-cs56-f16.herokuapp.com
</a>.
  </p>
</footer>
