<!DOCTYPE html>  <!-- -*- mode: html -*- -->
<html>
{{>head}}
<title></title>
<body>
{{>nav}}


<h2>Upload Roster CSV</h2>

<form method='post' enctype='multipart/form-data' action="/rosterUpload">
    <input type='file' name='uploaded_file'>
    <button>Upload Egrades Roster CSV</button>
</form>


{{>footer}}
</body>
</html>
